#grid-container{
    border: 2px solid black;
    height: 40rem;
    width: 100rem;
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    overflow: hidden;
}

.box{
    box-sizing: border-box;
    border: 2px solid purple;
    height: 40rem;
    width: 50px;
}